<section class="py-5 my-5">
  <div class="intro text-center">
    <h4 class="text-light">Know Everything… About Us</h4>
    <h1 class="fs-lg">About Royal Sheild</h1>
    <p class="text-light">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, error.
    </p>
  </div>
  <div class="intro-img">
    <img
      src="https://images.pexels.com/photos/38570/lamborghini-car-speed-prestige-38570.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
      alt=""
    />
  </div>
</section>

<section class="py-5 my-5">
  <div class="container">
    <h1 class="text-center mb-5">Our Storie</h1>
    <div class="row align-items-center g-5">
      <div class="col-lg-6">
        <img
          src="https://images.pexels.com/photos/4489716/pexels-photo-4489716.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
          alt="team"
          class="w-100"
        />
      </div>
      <div class="col-lg-6">
        <div>
          <h2>Royal Sheild Storie</h2>
        </div>
        <p class="text-light">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora est
          et saepe dolore dicta ipsa eum reprehenderit quam pariatur dolorem.
        </p>
        <p class="text-light">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae
          eos explicabo nobis optio deleniti distinctio qui, a illum veritatis
          fuga ipsa? Et quia ipsum placeat culpa fugit sed nihil explicabo?
        </p>
        <p class="text-light mb-5">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae
          eos explicabo nobis optio deleniti distinctio qui, a illum veritatis
          fuga ipsa? Et quia ipsum placeat culpa fugit sed nihil explicabo?
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae
          eos explicabo nobis optio deleniti distinctio qui, a illum veritatis
          fuga ipsa? Et quia ipsum placeat culpa fugit sed nihil explicabo?
        </p>
      </div>
    </div>
  </div>
</section>

<section class="py-5 my-5">
  <div class="container">
    <h1 class="text-center mb-5">What We Care About The Most</h1>

    <div class="row g-5 mt-5">
      <div class="col-md-4">
        <div class="my-card text-center">
          <i
            class="fa-solid fa-screwdriver-wrench"
            style="color: rgb(184, 121, 58)"
          ></i>
          <h4 class="fw-light">Efficiency</h4>
        </div>
      </div>
      <div class="col-md-4">
        <div class="my-card text-center">
          <i class="fa-solid fa-user" style="color: rgb(140, 69, 205)"></i>
          <h4 class="fw-light">Customer Satisfaction</h4>
        </div>
      </div>
      <div class="col-md-4">
        <div class="my-card text-center">
          <i class="fa-solid fa-clock" style="color: rgb(136, 71, 71)"></i>
          <h4 class="fw-light">Customer Satisfaction</h4>
        </div>
      </div>
    </div>
  </div>
</section>
